<%= form_for @user, url: forgot_password_users_path, class: "form-group" do |form| %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4"></div>
		<div class="col-md-4 col-md-offset-4">
			<h2>Reset password</h2>
			<%= form.text_field :email, class: "form-control", placeholder: "Email" %>
			<%= form.submit "Send email", class: "form-control btn btn-success"%>
		</div>
	</div>
<% end %>
