hi
<% if @user.nil? %>
	<p>You are currently not logged in</p>
	<%= link_to "Log in", new_session_path%>
<%else%>
	<p>You Are currently logged in as <%= @user.email%></p>
	<%= link_to "Log out", session_path(@user), method: :delete %>
<%end%>